<!DOCTYPE html>
<html lang='en'>
<html>
    <head>
    	 <link/ rel='stylesheet' href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
    	<h1> METALWEB </h1>
    	<p class='para'><a  href="{{url_for('register')}}"> <span class = 'register'>register</span></a></p>
    	<p class='para'><a  href="{{url_for('login')}}"> <span class='login'>login</span></a></p>
    	<p class='para'><a  href="{{url_for('logout')}}"><span class='logout'> logout</span></a></p>

    </body>

</html>
